<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:include filename="inertia_calculator.xacro"/>
    
    <xacro:macro name="cylinder_rgba" params="prefix mass radius length xyz rpy rgba">
        <link name="${prefix}_link">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <cylinder radius="${radius}" length="${length}"/> </geometry>
                <material name="${prefix}_link_color">
                    <color rgba="${rgba}"/> 
                </material>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <cylinder radius="${radius}" length="${length}"/> </geometry>
            </collision>
            <xacro:cylinder_inertia m="${mass}" r="${radius}" h="${length}" xyz="${xyz}" rpy="${rpy}"/>
        </link>
    </xacro:macro>

    <xacro:macro name="box_rgba" params="prefix mass length width height xyz rpy rgba">
        <link name="${prefix}_link">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <box size="${length} ${width} ${height}"/> </geometry>
                <material name="${prefix}_link_color">
                    <color rgba="${rgba}"/>
                </material>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <box size="${length} ${width} ${height}"/> </geometry>
            </collision>
            <xacro:box_inertia m="${mass}" l="${length}" w="${width}" h="${height}" xyz="${xyz}" rpy="${rpy}"/>
        </link>
    </xacro:macro>

    <xacro:macro name="sphere_rgba" params="prefix mass radius xyz rpy rgba">
        <link name="${prefix}_link">
            <visual>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <sphere radius="${radius}"/> </geometry>
                <material name="${prefix}_link_color">
                    <color rgba="${rgba}"/>
                </material>
            </visual>
            <collision>
                <origin xyz="${xyz}" rpy="${rpy}"/>
                <geometry> <sphere radius="${radius}"/> </geometry>
            </collision>
            <xacro:sphere_inertia m="${mass}" r="${radius}" xyz="${xyz}" rpy="${rpy}" />
        </link>
    </xacro:macro>
</robot>